.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
  height: 60px;
  margin-bottom: 10px;
  width: 60px;
}

.corpo {
  border: solid 3px black;
}

.red {
  border: solid 3px red;
  margin-bottom: 10vh;
  padding: 15px;
}
